name: ci
on:
  push:
    branches: [main]
    tags:
      - "v*"
  pull_request:
    branches: [main]

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - run: npm run fmt:check

  run_tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        token: ["", "token"]
        reductstore_version: ["main", "latest"]
        license: ["", "/workdir/lic.key"]
    steps:
      - uses: actions/checkout@v4
      - name: Generate license
        run: echo '${{secrets.LICENSE_KEY}}' > lic.key

      - name: install node js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm i

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Run ReductStore
        run: docker run -p 8383:8383 -v ${PWD}:/workdir
          --env RS_API_TOKEN=${{matrix.token}}
          --env RS_LOG_LEVEL=DEBUG
          --env RS_LICENSE_PATH=${{matrix.license}}
          --env RS_EXT_PATH=/tmp
          -d reduct/store:${{ matrix.reductstore_version }}

      - name: Run tests
        run: npm test
        env:
          RS_API_TOKEN: ${{ matrix.token }}
          RS_LICENSE_PATH: ${{matrix.license}}

  run_examples:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example: ["HelloWorld.js", "QuickStart.js", "Subscription.js"]
        reductstore_version: ["main", "latest"]
    steps:
      - uses: actions/checkout@v4
      - name: install node js 20
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: npm i

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Run ReductStore
        run: docker run -p 8383:8383 -v ${PWD}/data:/data -d reduct/store:${{ matrix.reductstore_version }}

      - name: Wait for ReductStore
        run: sleep 3

      - name: Run example
        run: npm run tsc && node examples/${{matrix.example}}

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm i
      - name: Run tests
        run: npm run lint

  publish:
    needs: [run_tests, run_examples, lint]
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.event.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"

      - run: npm i
      - name: Determine npm tag
        run: |
          VERSION=$(node -p "require('./package.json').version")
          if [[ "$VERSION" == *"-beta"* ]]; then
            echo "NPM_TAG=beta" >> "$GITHUB_ENV"
          fi
      - name: Publish package
        run: |
          if [[ -n "${NPM_TAG}" ]]; then
            npm publish --tag "${NPM_TAG}"
          else
            npm publish
          fi
